# 忽略編譯產出目錄
build/
cmake-build-debug/
cmake-build-release/

# 忽略二進制韌體檔 (除非你想備份它，但通常由 CI 產出)
*.uf2
*.elf
*.map
*.bin
*.hex
*.dis

# 忽略編輯器設定
.vscode/
.idea/
.DS_Store

# 忽略 Python 快取 (如果有用 Python 腳本)
__pycache__/
*.pyc